body{
    margin: 0;
    font-family: arial;
    background: #eee;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

#main-navigation{
    background-color: rgba(13, 67, 71, 0.9);
    padding: 10px;
}

#main-navigation ul{
    text-align: right;
    list-style-type: none;
    padding-left: 20px ;
}

#main-navigation li{
    display: inline-block;
    margin-left: 20px;
    margin-right:10px;
}



#main-navigation a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
    background-color: rgb(36, 140, 158);
    border-radius: 2px;
}

#main-navigation a:hover{
    background-color: goldenrod;
}

#main-navigation a.current{
    background-color: coral;
    border-radius: 5px;
}

#bsk img{
    /* display: block; */
    width: 85px;
    position: relative;
    top:-60px;
    margin-bottom: -60px;
    border-radius: 50%;
}

.dp-Content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    
}

.dropdown:hover .dp-Content{
    display: block;
    margin-top: 10px;
}

#main-navigation li a.dp{
    background-color: rgb(9, 163, 168);
    /* display: block; */
    text-align: center;
    padding: 8;
    
}

#main-navigation li a.dp:hover{
    background-color: rgb(73, 110, 5);
    font-size: 16px;
    
}





#lead-banner img{
    width: 100%;
}

#shop{
    text-align: center;
    margin: 40px;
}

#shop h2.product-name{
    font-size: 16px;
    margin-bottom: 2px;
}

#shop span.price{
    font-size: 58px;
    display: block;
}

#shop a.add-to-bag{
    display: block;
    color: #8f746c;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0px;
    border: 2px solid #8f746c;
    width: 210px;
    margin: 20px auto ;
}

#shop a.add-to-bag:hover{
    background: #8f746c;
    color: #fff;

}

#footer-banner img{
    width: 100%;
}


#pic-contact{
    background-color: rgba(13, 67, 71, 0.9);
    padding: 10px;
    text-align: center;
    color: seashell;
    margin-top:-4px ;
}

#pic-contact img{
    display: inline-block;
    width: 35px;
    padding-left: 20px ;
    
}

#pic-contact a{
    color:white

}

#pic-contact a:hover{
    color: rgb(44, 207, 3);

}
